<div>
  <div style="display: flex; flex-direction: column; gap: 1rem; width: 15rem">
    <div style="display: flex; justify-content: space-between">
      <div>{{ "NAME" | translation : dictionary }}:</div>
      <div>Tung</div>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div>{{ "SURNAME" | translation : dictionary }}:</div>
      <div>Pham</div>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div>{{ "PLAY_OF_BIRTH" | translation : dictionary }}:</div>
      <div>Praha</div>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div>{{ "RESIDENCE" | translation : dictionary }}:</div>
      <div>Praha 10</div>
    </div>
  </div>

  <div style="margin-top: 3rem">
    <button (click)="getDictionary('en')">English</button>
    <button (click)="getDictionary('cz')">Cesky</button>
  </div>
</div>

<router-outlet />
